<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Catalog</title>
</head>
<body>

<div id="nav-bar">
    <a href="/about">About</a>

    <a href="/catalog">Catalog</a>

    {% if login is not none %}
    <a href="/profile">Profile</a>
    {% endif %}

    {% if login is not none %}
    <a href="/cart">Cart</a>
    {% endif %}

    {% if admin == true %}
    <a href="/admin">Admin</a>
    {% endif %}

    {% if login is none %}
    <a href="/login">Login</a>
    {% endif %}

    {% if login is none %}
    <a href="/register">Register</a>
    {% endif %}

    {% if login is not none %}
    <form style="display: inline" action="/logout" method="POST">
        <input type="submit" value="Logout">
    </form>
    {% endif %}

    <hr>

</div>

{% for item in items %}
<div>
    <p>Id: {{ item.id }}</p>
    <p>Name: {{ item.name }}</p>
    <p>Description: {{ item.description }}</p>
    <p>Price: {{ item.price }}</p>
    <p>Category: {{ item.category }}</p>
    <p>Quantity: {{ item.quantity }}</p>
    <a href="/catalog/{{item.id}}">Watch details</a>
    <hr>
</div>
{% endfor %}

</body>
</html>