<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>

<body>

<div id="nav-bar">
    <a href="/about">About</a>

    <a href="/catalog">Catalog</a>

    {% if login is not none %}
    <a href="/profile">Profile</a>
    {% endif %}

    {% if login is not none %}
    <a href="/cart">Cart</a>
    {% endif %}

    {% if login is not none %}
    <a href="/compare">Compare</a>
    {% endif %}

    {% if admin == true %}
    <a href="/admin">Admin</a>
    {% endif %}

    {% if login is none %}
    <a href="/login">Login</a>
    {% endif %}

    {% if login is none %}
    <a href="/register">Register</a>
    {% endif %}

    {% if login is not none %}
    <form style="display: inline" action="/logout" method="POST">
        <input type="submit" value="Logout">
    </form>
    {% endif %}
    <hr>

</div>

<form action="/register" method="post">
    <p>Enter your data:</p>

    <label for="name">Name</label>
    <input type="text" id="name" name="name" required>
    <br>
    <br>

    <label for="surname">Surname</label>
    <input type="text" id="surname" name="surname" required>
    <br>
    <br>

    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>
    <br>
    <br>

    <label for="phone_number">Phone number</label>
    <input type="text" id="phone_number" name="phone_number" required>
    <br>
    <br>

    <label for="login">Login</label>
    <input type="text" id="login" name="login" required>
    <br>
    <br>

    <label for="email">Email</label>
    <input type="text" id="email" name="email" required>
    <br>
    <br>

    <input type="submit" value="Register">

</form>


</body>
</html>