<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update profile</title>
</head>
<body>

<div id="nav-bar">
    <a href="/about">About</a>

    <a href="/catalog">Catalog</a>

    {% if login is not none %}
    <a href="/profile">Profile</a>
    {% endif %}

    {% if login is not none %}
    <a href="/cart">Cart</a>
    {% endif %}

    {% if admin == true %}
    <a href="/admin">Admin</a>
    {% endif %}

    {% if login is none %}
    <a href="/login">Login</a>
    {% endif %}

    {% if login is none %}
    <a href="/register">Register</a>
    {% endif %}

    {% if login is not none %}
    <form style="display: inline" action="/logout" method="POST">
        <input type="submit" value="Logout">
    </form>
    {% endif %}

    <hr>

</div>

<form action="/profile" method="post">
    Name:<input value="{{user.name}}" type="text" name="name">
    <br>

    Surname:<input value="{{user.surname}}" type="text" name="surname">
    <br>

    Password:<input value="{{user.password}}" type="text" name="password">
    <br>

    Phone number:<input value="{{user.phone_number}}" type="text" name="phone_number">
    <br>

    Email:<input value="{{user.email}}" type="text" name="email">
    <br>
    <br>

    <input type="submit" value="Update data">
</form>
</body>
</html>